* {
  box-sizing: border-box;
  word-break: break-all;
  -webkit-overflow-scrolling: touch;
}

a,
label,
input,
textarea,
select {
  -webkit-tap-highlight-color: var(--color-none);
}

a {
  text-decoration: none !important;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none !important;
  }
}

.h-100 {
  height: 100%;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.content-left {
  margin-right: auto !important;
}

.content-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.content-right {
  margin-left: auto !important;
}

.body-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  background-color: var(--color-bg);
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-theme {
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  transition: background .3s;
}

.bg-theme-1 {
  background-image: linear-gradient(45deg, var(--color-theme-0-0), var(--color-theme-0-1));
}
