.logo {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  a {
    text-decoration: none;

    .logo-icon {
      width: 35px;
      margin-right: 5px;
      vertical-align: middle;
    }

    .logo-text {
      color: #ffffff;
      font-size: 15px;
      display: inline-block;
      text-transform: uppercase;
      position: relative;
      top: 3px;
      font-weight: 400;
      text-align: center;
      line-height: 50px;
      margin: 0;
    }
  }
}

